header, section, footer, article, nav, figure, figcaption{
    display: block;
}

body {
    color: #2f2f2f;
    background-color:rgb(245, 247, 241);
    background-position: center;
    /* font-family: Georgia, Times, serif; */
    line-height: 1.4em;
    margin: 0px;
    /* background-image: url("../images/blue-wallpaper.jpg"); */
}

.wrapper {
    width: 940px;
    margin: 50px auto 20px auto;
    border: 2px solid #000000;
    background-color: #ffffff;
}

header{
    background-color: rgb(201, 250, 250);
    color: #daf3f3;
    padding-top: 30px;
    padding-left: 10px;
    min-height: 80px;
    border: #69a9a9 3px solid;
  }

header h1{
    color:rgb(119, 16, 16);
    text-align: center;
    font-size:40px;
}

header h2{
    text-align: center; 
    color: rgba(75, 207, 250,1.0);
}

#firstSection img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 400px;
}

#firstSection p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-decoration:double;
    text-align: left;
    /* p1{
    font-size:50px;} */
      font-size:20px;
}

#firstSection p::first-letter{
    font-size: 200%;
}

section.section2 h2{
    font-size: 30px;
    /* text-decoration-color: cadetblue"; */
    color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#initIdea p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(53, 47, 47);
}

#navigation {
	opacity:0.8;
	position: fixed;
	top: 0;
	background-color: rgba(87, 95, 207,1.0);
	padding: 15px 15px;
	z-index: 100;
	width: 100%;
}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
	color: white;
}

#navigation li a:hover {
	color: #f5f6fa;
}

.navbar-brand {
	color: white;
}
